body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 50px 50px;
  background-color: #faf9f6;
  display: block;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

/* NEW CODE */

/* DESKTOP and LAPTOP */
@media (min-width: 1201px) {
  /* Get Elements Inline */
  .left {
    display: inline-block;
    width: 45%;
  }
  .right {
    display: inline-block;
    width: 45%;
  }
  /* Format Left Panel */
  .left > img {
    width: 50%;
    height: auto;
    float: left;
    padding-right: 3%;
  }
  .left > .card-title {
    position: relative;
  }
  .left > .card-text {
    position: relative;
    width: 89%;
  }
  /* Format Right Panel */
  .right > img {
    width: 50%;
    height: auto;
    float: left;
    padding-right: 3%;
  }
  .right > .card-title {
    position: relative;
  }
  .right > p {
    position: relative;
    width: 89%;
    margin-right: 0;
  }
}
/* TABLET and IPAD */
@media (min-width: 581px) and (max-width:1200px){
  /* Get Elements Inline */
  .left {
    display: inline-block;
    width: 45%;
  }
  .right {
    display: inline-block;
    width: 45%;
  }
  /* Format Images */
  img {
    width: 95%;
  }
  .logo {
    width: 35%;
  }
  /* Format Header */
  h1 {
    width: 90%;
    font-size: 72px;
  }
}
/* MOBILE */
@media (max-width: 580px){
  /* Display Elements as Blocks */
  .left {
    display: block;
    width: 100%;
  }
  .right {
    display: block;
    width: 100%;
  }
  /* Format Images */
  img {
    width: 100%;
  }
  .logo {
    width: 40%;
  }
  /* Format Header */
  h1 {
    width: 95%;
    font-size: 54px;
    text-align: center;
  }
}
